.background-image{
    background-image: url('../../app/Assets/1217791_4873.jpg');
    background-position: center;
    background-size: cover;
height: 100vh; 

    width: 100%;
display: flex;
    justify-content: center;
    align-items: center;
}